<mgl-map
  #map
  (zoomEnd)="zoomEnd($event)"
  (click)="addMarker($event)"
  [style]="'mapbox://styles/mapbox/streets-v9'"
  [zoom]="[zoom]"
  [center]="center">
  <mgl-marker-cluster
    *ngIf="data"
    [data]="data"
    [maxZoom]="14"
    [radius]="50"
    (load)="initSuperCluster($event)">
    <ng-template
      mglPoint
      let-feature>
      <div
        (click)="handleMarkerClick($event, feature)"
        class="marker"
        [title]="feature.properties['city']">
        {{ feature.properties['state'] }}
      </div>
      <mgl-popup
      *ngIf="selectedMarker"
        [feature]="selectedMarker"
        [closeOnClick]="true">
        <h1>Hello world !</h1>
      </mgl-popup>
    </ng-template>
    <ng-template
      mglClusterPoint
      let-feature>
      <div
        (click)="clusterClicked(feature.geometry.coordinates)"
        class="marker-cluster">
        {{
                feature.properties?.point_count }}
      </div>
    </ng-template>
  </mgl-marker-cluster>

</mgl-map>
